<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include 'head.html' %}
    <body>
      <div class="container">
        {% if netid %}
        <p class="who">logged in as {{ netid }} | 
          <span class="glyphicon glyphicon-log-out"></span> <a href="{{ url_for('logout') }}">logout</a>
        </p>
        {% endif %}
        <header>
          <img alt="Princeton University Library" src="{{ url_for('static', filename='images/pul-logo.png') }}" />
          <h1>{{ title }}</h1>
        </header>

      {% block content %}{% endblock %}
      </div>
    {% include 'js.html' %}
    </body>
</html>
