{% extends "base.html" %}

{% block content %}

  {% if message != 'None' %}
  <div class="alert alert-{{ alert_type }} alert-dismissible" role="alert">
    <a href="{{ here }}" type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </a>
    <p>{{ message }}</p>
  </div>
  {% endif %}

  <h2>Update or Mint New ARKs</h2>
  <form method="post" action="/">
    <div class="form-group">
      <label for="target">Target URI (Leave this empty and fill out the below to DELETE an ARK)</label>
      <input type="url" class="form-control" id="target" name="target" placeholder="Target URI">
    </div>
    <div class="form-group">
      <label for="update">ARK to Update (Leave this empty for new ARKs)</label>
      <input type="url" class="form-control" id="update" name="update" placeholder="ARK to Update">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <hr/>

  <h2>Lookup for Existing ARKs</h2>
  <form method="post" action="/">
    <div class="form-group">
      <label for="lookup">URI to Lookup (Check if this URI already has an ARK bound to it)</label>
      <input type="url" class="form-control" id="lookup" name="lookup" placeholder="Target  URI to Look Up">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}

