# See http://configobj.readthedocs.org/en/latest/configobj.html#the-config-file-format
app_name = 'PUL ARK Form'
users = jstroop, ratliff

[cas]
url = ''

[ezid]
shoulder = ''
who = 'Princeton University Library'
user = ''
password = ''
service = 'https://ezid.cdlib.org'
resolver = 'http://arks.princeton.edu'

