# See http://configobj.readthedocs.org/en/latest/configobj.html#the-config-file-format
app_name = 'PUL ARK Form'
users = jstroop, mratliff

[cas]
url = 'https://fed.princeton.edu/cas'

[ezid]
shoulder = 'ark:/99999/fk4'
user = apitest
password = apitest
service = 'https://ezid.cdlib.org'
resolver = 'http://arks.princeton.edu'

